/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 1.6;
    color: #333; 
    background-color: #fff; 
}

h1, h2, h3 {
    color: #0056b3;
    text-align: center;
}

h1 {
    background-color: #e0f7fa;
}

p {
    color: #333; 
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #333; 
}

/* Links and Buttons */
a {
    color: #0056b3; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: #ff9800; 
    color: #0056b3; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #f57c00; 
}

.img  {
    width:300px;
    height: auto; 
   
}



footer {
    background: #e0f7fa;
    color: #0056b3;
    text-align: center;
}
