body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #3f51b5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

#nav-menu {
    margin-right: 1.5rem;
}

#nav-menu ul {
    display: none;
    flex-direction: column;
    padding-top: 30px;
    gap: 0.5rem;
    list-style: none;
}

#nav-menu.open ul {
    display: flex;
    
}

nav a:hover {
    color: #00ff8e;
}

#hamburger {
   
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0.1rem;
    right: 0rem;
    padding-top: 7px;
}

#hamburger {
    display: block;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "❎";
}

.temple-card {
    border: 1px solid #ddd;
}

.temple-card h2 {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    text-align: center;
}

.temple-card p {
    margin: 5px 0;
}

.temple-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 1em 0;
}